@import "main";
@import "compass";
@import "compass/css3/";
@import "animation";
//@import "animation/animate";

//================================================
// Website theme: Color glossary                
//================================================
$bg-color: #1667D2; //#300A24;
$link-color: #F8FB46; //yellow
$text-color: #fff; // white
$version-color: #000;
$cmd-result: #F8FB46; // yellow


$text-size: 21px;
$footer-size: 14px;
$site-margin: 8px;

a,
a:visited {
    color: transparent;
    text-decoration: underline;
    @include transition(color 0.6s ease-in);
    &:hover {
        color: lighten($link-color, 40%);
    }
}

blink {
    @include animation(blink 1s infinite);
}

.logo {
    font: bold 3em/90% "Lucida Grande"; 
//    330%
    position: relative;
    width: 270px;
//    border: 1px solid;
    overflow: hidden;
    span {
        background: url(../img/tearsdrop2313.png) repeat-x;
        position: absolute;
        display: block;
        width: 100%;
        height: 50px;
    }
    .tear {
        background: url(../img/tear.png) no-repeat 3em -15px;
        @include animation(tear-drop 12s infinite);
        top: 0;
    }
    .texture {
        background: url(../img/pattern-zebra.png) repeat-x;
    }
}
.ded {
//    width: 350px;
    font-size: 14px;
}

.heart {
     position: relative; width: 60px; height: 54px;
     @include transition(all 1s);
     &:before,
     &:after {
        position: absolute;
        content: "";
        left: 30px; top: 0;
        width: 30px;
        height: 48px;
        background: #80696A;   
        border-radius: 50px 50px 0 0;
        @include transform(rotate(-45deg));
        @include transform-origin(0,100%);
     }
     &:after {
        left: 0;
        @include transform(rotate(45deg));
        @include transform-origin(100%,100%);
     }
}

#foo{
border-radius:50px;
width:50px;
height:50px;
background:#c00;
position:absolute;
top:0;
left:0;
-moz-transition: all 1s; 
-webkit-transition: all 1s;  
-ms-transition: all 1s;  
-o-transition: all 1s;  
transition: all 1s;  
}

#sun {
    position: absolute;
    top: 0;
//    border: 1px solid white;
}

.sun {
    background: #fff;
    @include animation(sun-rise 12s infinite);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

/** Container **/
.ie .terminal-wrapper,
.ie .site-info {
    display: none;
}
#home {
    background: $bg-color;
    color: $text-color;
	overflow: hidden;
    margin: $site-margin;
    width: 100%;
    height: 100%;
// needs latest Compass, add '@import "compass"' to your scss
//background-color: #1667d2; // Old browsers
    background: #000;
    @include background-image(radial-gradient(45px 45px, #fff 5px, #000 30px));
 
    //@include filter-gradient(#1667d2, #1667d2, vertical); // IE6-8
    // IE9 SVG, needs conditional override of 'filter' to 'none'
    //$experimental-support-for-svg: true;
    //@include background-image(linear-gradient(top, #1667d2 1%,#ffffff 47%,#1667d2 99%));
    
}


.site-info,
.terminal-wrapper {
    position: relative;
    z-index: 3;
}
.terminal-wrapper,
.cmd-info {
    @include animation(text-blur 3s infinite, text-blink 5s infinite);
}
.terminal {
    font: {
//        family: "Fixedsys", monospace;
        family: Consolas, "Bitstream Vera Sans Mono", "Andale Mono", Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;
        size: $text-size;
    }
    color: $cmd-result;
//    height: 400px;
//    overflow: auto;
}
    .command {
        color: $text-color;
        &:before {
            content: "rexy.me$ ";
        }
    }


/** Navigation **/
nav.primary {
    li {
        display: block;
    }
    a {
        text-decoration: underline;
        cursor: pointer;
    }
}

dt {
    display: inline-block;
    width: 150px;
}
    dt:before {
        content: "<"
    }
    dt:after {
        content: ">"
    }
dd {
    display: inline;
}
    dd:after {
        content: "\A";
        white-space: pre;
    }

// chrome message 
.chrome-msg {
    text-align: center;
    display: none;
    .e-msg {
        background: #470E6B;
        position: fixed;
        z-index: 4;
        width: 100%;
        bottom: 20%;
        padding: 10px;
        font-weight: bold;
    }
}

// Footer
.site-info,
.chrome-msg {
    a {
        color: $link-color;
    }
}
.cmd-info {
    font-size: 14px;
    span {
        background: white;
        color: $version-color;
        padding: 3px 10px;
        cursor: help;
        @include transition(background 0.5s linear 0s);
        &:hover {
            background: darken($version-color, 10%);
        }
    }
}
.cmd-info,
.colophon {
    position: fixed;
    bottom: 10px;
}
.colophon {
    right: $site-margin;
    font-size: $footer-size;
}
    .thanks {
        position: relative;
        display: inline-block;
        div {
            display: none;
            position: absolute;
            top: -150px;
            left: -140px;
            width: 320px;
        }
        p {
            margin: 0 0 0.4em;
        }
        &:hover div {
            display: block;
        }
    }

.fb_edge_comment_widget {
    top: -210px !important;
}

// Animation
@include keyframes(tear-drop) {
    0% { top: 0%; }
    100% { top: 100%}
}
@include keyframes(blink) {
  	0% { opacity: 0; }
	25% { opacity: 0; }
	25.1% { opacity: 1; }
	100% { opacity: 1; }  
} 
@include keyframes(text-blur) {
	0%, 50%, 90%, 100% { text-shadow: $link-color 0 0 1px; }
	60%, 80% { text-shadow: $link-color 0 0 2px; }
	70% { text-shadow: $link-color 0 0 5px; }
}
@include keyframes(text-blink) {
	0% {
		@include skewX(0deg);
	}
	20% {
		@include skewX(0deg)
	}
	21% {
		@include skewX(-6deg)
	}
	35% {
		opacity: 1;
		@include skewX(0deg)
	}
	35.5% {
		opacity: .3;
		@include skewX(80deg)
	}
	36% {
		@include skewX(-55deg)
	}
	36.5% {
		opacity: 1;
		@include skewX(0deg)
	}
	100% {
		@include skewX(0deg)
	}
}
